* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.app {
  background: #020617;
  padding: 25px;
  border-radius: 14px;
  width: 340px;
  text-align: center;
  box-shadow: 0 0 20px rgba(56,189,248,0.3);
}

h1 {
  color: #38bdf8;
}

.search-box {
  margin: 20px 0;
}

.search-box input {
  width: 70%;
  padding: 9px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 9px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #38bdf8;
  font-weight: bold;
}

#error {
  color: #f87171;
  margin-bottom: 10px;
}

.weather img {
  width: 80px;
}

.weather p {
  margin: 6px 0;
}
